<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
   <ion-searchbar placeholder="Buscar película" animated debounce="700" [value]="textoBuscar" (ionChange)="buscar($event)">

   </ion-searchbar>
</ion-toolbar>

<ion-content>

  <!-- Mostrar el spinner -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-spinner name="crescent">

        </ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mostramos la lista de las peliculas al buscar -->
  <ion-list>
    <ion-list-header>
      <ion-label>
        Ideas
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas"
              (click)="textoBuscar = idea">
      <ion-label color="primary">{{idea}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
